.Button {
    background-color: cadetblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    font-weight: bold;
}

.Button:hover {
    color: rgb(247, 212, 160);
    cursor:pointer;
}

.Button:disabled {
    color:#ccc;
    cursor:not-allowed;
}

@media only screen and (max-width:600px){
    .Button {
    padding: 5px;
    }
}