.ChartArea {
    width:60%;
    height:450px;
    margin-left: 10%;
    text-align: left;
    position: relative;
}

.Xlabel{
    margin-top:2%;
}

.Ylabel{
    margin-right:2%;
}

.Error{
    padding-left:3%;
    color:red;
}
@media only screen and (max-width:600px){
    .ChartArea{
        width:100%;
        margin:0;
        height: 290px;
    }
}

@media only screen and (min-width:601px) and (max-width:800px){
    .ChartArea{
        width:80%;
        height: 400px;
    }
}