.Header {
    width: 98%;
    height: 25px;
    padding: 1%;
    background-color: cadetblue;
    color:white;
    display: inline-block;
}

.Title {
    margin:0;
    width:90%;
    float:right;
}

.Graph-icon {
    width:10%;
}