.Header {
    width: 96%;
    height: 25px;
    padding: 2%;
    background-color: cadetblue;
    color:white;
    display: inline-block;
}

.Title {
    margin:0;
    width:80%;
    padding-left:10%;
    float:right;
}

.Graph-icon {
    width:10%;
}