.Footer {
    margin-top:10%;
    width: 98%;
    padding: 1%;
    background-color: cadetblue;
    color:white;
    left: 0;
    bottom: 0;
    height: 20px;
    text-align: center;
    position: fixed;
}

.Footer h3 {
    margin:0;
}